* {
    font-size: 20px;

}

p, ul{
    border: 2px solid black;
    padding: 0.5em;
}

ul {
    display: flex;
    list-style: none;
}

.block{
    display: block;
}

.block, li { 
    border: 2px solid black;
    padding: .3em;
}

