body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 24px;
    gap: 24px;
    background-color: floralwhite;
    font-family: sans-serif;
}

@supports not (height: 1lh) {
    body::before {
        grid-column: 1 / -1;
        padding: 8px;
        border-radius: 4px;
        background-color: @supports not (height: 1lh) {
            body::before {
              grid-column: 1 / -1;
              padding: 8px;
              border-radius: 4px;
              background-color: tomato;
              color: white;
              content: "You browser doesn't support lh unit just yet";
            }
          }tomato;
        color: white;
        content: "You browser doesn't support lh unit just yet";
    }
}

p {
    margin: 0;
    background-image: repeating-linear-gradient(
        to top,
        lightskyblue 0 2px,
        transparent 2px 1lh
    );
}